@{
    ViewData["Title"] = "Home Page";
}

<head></head>

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to my website</h1>

        <h2>View my Resume here!</h2>
        <ul>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Resume">Resume</a>
            </li>
        </ul>
    </div>
</body>