@{
    ViewData["Title"] = "Home Page";
}

<head></head>

<body>
    <div class="text-center">
        <h1 class="display-4">Hi @User.Identity.Name! Welcome to my website</h1>

        <h3 class="text-muted">View my <a class="text-info" asp-area="" asp-controller="Home" asp-action="Resume">Resume</a></h3>


       
    </div>
</body>