<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/199919a52c.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Troydon | Resume</title>
    <link href="https://fonts.googleapis.com/css?family=Fresca|Saira+Semi+Condensed:400,500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <!-- // Intro -->
    <header id="about">
        <a href="~/downloadable_files/TroydonCV_IT_2019.docx" class="btn download" download="Troydon's Resume">
            Download
            Resume
        </a>

            <nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top">
                <a class="navbar-brand" href="#">Home</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Work Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#work">Work Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#education">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
       
        <div class="content-wrap">
            <img src="~/images/profile-pic.jpg" alt="Troydon's picture" class="profile-pic col-narrow">
            <div class="col-wide">
                <h1>Troydon Luicien</h1>
                <h2 id="main-title">Web Programmer Learner</h2>
                <p>
                    Currently studying and training to becoming an ASP.NET Core Website/Web App Programmer, and using
                    Azure
                    Cloud Services.
                </p>
                <p>
                    Open to related IT work and other IT roles such as Help Desk Support, I will also be programming
                    games
                    in some of my spare time once I have completed my studies. I am currently working in a call center
                    as a customer serivce
                    representative, for Woolworths Mobile.
                    I also a qualified personal trainer and do bodybuilding as a side hobby, I have won some medals in
                    novice competitions.
                </p>
                <div class="col-narrow">
                    <p>My Skills</p>
                </div>
                <div class="col-wide">
                    <ul>
                        <li>Website programming languages: HTML5, CSS, Javascript</li>
                        <li>Software programming languages: C# using Visual Studio, Java,</li>
                        <li>DBMS: SQL using MySQL and phpMyAdmin</li>
                        <li>Windows 10 Basic Software Troubleshooting</li>
                        <li>Basic MS Word, MS Excel, MS Power Point</li>
                    </ul>
                </div>
                <p>Follow this <a href="~/work-samples.html">link</a> to see my work samples.</p>
            </div>
            </div>
    </header>

    <main>
        <!-- // Work Experience -->
        <section class="work" id="work">
            <div class="content-wrap">
                <h2>Work Experience</h2>

                <div class="col-narrow">
                    <!-- Job 1 -->
                    <h3>Contact Center Customer Service Representative</h3>
                    <p class="uppercase">Woolworths Mobile</p>
                    <p>April 2017 - Current</p>
                </div>

                <div class="col-wide job-description">
                    <!-- Add as many paragraphs as you need. -->
                    <p>
                        The roles of the job includes mainly taking inbound calls to assist customers with queries
                        relating
                        to their
                        mobile network service with us, via phone, chat and emails.
                    </p>

                    <!-- This list can be deleted if you don't want to use it. -->
                    <p>List of Duties:</p>
                    <ul>
                        <li>Providing technical support to customer's regarding mobile network issues.</li>
                        <li>Escalating IT tech faults to Tech Support</li>
                        <li>Answering billing enquiries.</li>
                        <li>Performing administrative tasks including SAP.</li>
                        <li>Liasing with transport team with mobile phone delivery duties.</li>
                        <li>Assisting new staff with training.</li>
                    </ul>
                </div>

                <div class="col-narrow">
                    <!-- Job 2-->
                    <h3>Contact Center Sales Agent</h3>
                    <p class="uppercase">Woolworths Car Insurance</p>
                    <p>December 2016 - April 2017</p>
                </div>

                <div class="col-wide job-description">
                    <!-- Add as many paragraphs as you need. -->
                    <p>
                        The roles of the job includes mainly taking inbound calls to sell car insurance to customers.
                    </p>

                    <!-- This list can be deleted if you don't want to use it. -->
                    <p>List of Duties:</p>
                    <ul>
                        <li>Selling car insurance to customers and setting it up for them.</li>
                        <li>Assisting with customer support where necessary.</li>
                    </ul>
                    <!-- end of Job Details block. -->
                </div>
            </div>
        </section>


        <!-- // Education -->
        <section class="education" id="education">
            <div class="content-wrap">
                <h2>Education</h2>

                <!-- School details: copy this whole block to add more schools. -->
                <h3>TAFE</h3>
                <h4>ICT40815 Certificate IV in Digital Media Technologies (Programming)</h4>

                <!-- Add as many paragraphs as you need. -->
                <p>
                    The course has provided me with skills and knowledge to design, develop and use digital media
                    technologies.
                </p>

                <p>Aug 2018 - Aug 2019</p>

                <h3>AUT (Auckland University Of Technology)</h3>
                <h4>Certificate in Business IV </h4>

                <!-- Add as many paragraphs as you need. -->
                <p>
                    The course has provided me with skills and knowledge in academic writing, maths, administration and
                    basic projects skills.
                </p>

                <p>Feb 2014 - July 2015</p>

                <h4>Certificate in Computer and Mathematical Sciences IV </h4>

                <!-- Add as many paragraphs as you need. -->
                <p>The course has provided me with skills and knowledge in Maths, Physics and Academic Literacies.</p>

                <p>Feb 2010 - July 2010</p>
                <!-- End of school details. -->
            </div>
        </section>
    </main>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>