################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Troydon-Resume/v16/Server/sqlite3/storage.ide
