@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

    <link rel="stylesheet" type="text/css" href="error.css" />
    <img src="~/images/error-img.jpg" />
    <body>
        <h1 class="text-danger text-center">OOPS!</h1>
        <h2 class="text-danger text-center">You broke it! :(</h2>

        @if (Model.ShowRequestId)
        {
            <p class="text-center">
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }

    </body>