@{
    ViewData["Title"] = "Access Denied";
}
    <body>

        <div class="bg-acess-denied text-center">

            <fieldset>

                <header class="bottom-padding">

                    @section lorem { }
                    <h1 class="text-danger text-center">Access Denied.</h1>
                    <p class="text-danger text-center">You do not have access to this content</p>

                </header>

            </fieldset>
            <img src="~/images/access-denied.jpg" height="50%" width="50%" class="align-content-center" />
        </div>
    </body>

