@model IEnumerable<Troydon_Resume_Online_NET_Core_.Models.Comment>
@{
    ViewData["Title"] = "Comments";
}

<h1>Feedback</h1>

<p>
    Below are the latest comments from our reviewers
</p>

@*functionality to navigate page and view blog posts*@
<p class="paging">
    @if (ViewBag.HasPreviousPage)
    {
        <a class="prev" href="@Url.Action("Index", "Feedback" , new { page = ViewBag.PreviousPage })">
            &lt; Previous
        </a>
    }

    @if (ViewBag.HasNextPage)
    {
        <a class="next" href="@Url.Action("Index", "Feedback" , new { page = ViewBag.NextPage })">
            Next &gt;
        </a>
    }
</p>

<div class="content-wrap">
    @foreach (var comment in Model)
    {
        @await Html.PartialAsync("Comment", comment)
    }
</div>